*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(54, 27, 27);
    overflow: hidden; /*to avoid the scrollbar appearance when enemy is at extreme left*/
}
.gameContainer{
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
    width: 100%;
    height: 100vh;
}
.writtings{
    width: 90%;
    margin: auto;
}
.top-bar{
    display: flex;
    align-items: center;   
    justify-content: space-between;  /*symmetrical positioning*/
}

.myPlane{
    background-image: url(myplane.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 232px;
    height: 130px;
    position: absolute; /*posioning it to the bottom*/
    bottom: 10%;
    left: 50px;
}
.enemy{
    background-image: url(theEnemy.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 140px;
    position: absolute; /*posioning it to the bottom*/
    bottom: 10%;
    left: 1200px;
}

.gameOver{
    position: relative;
    text-align: center;
    font-family: cursive;
    color: rgb(238, 220, 196);
    font-weight: bold;
    top: 10%;
    font-size: 50px;
}

#scoreCont{
    position: relative;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: burlywood;
    font-size: 20px;
    padding-right: 0%;
}

.animatePlane{
    animation: myPlane 0.6s linear;
}
@keyframes myPlane{
    0%{
        bottom: 10%;
    }
    50%{
        bottom: 50%;
    }
    100%{
        bottom: 10%;
    }
}

.cloud1{
    background-image: url(cld1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 200px;
    position: relative; /*posioning it to the bottom*/
    top: 5%;
    left: 5000px;
}

.cloud2{
    background-image: url(cld2.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 100px;
    position: relative; /*posioning it to the bottom*/
    top: 10%;
    left: 4000px;
    opacity: 70%;
}

.movecld1{
    animation: cld1 25s linear infinite;
}

.movecld2{
    animation: cld1 35s linear infinite;
}

@keyframes cld1{
    0%{
        left: 100vw;
    }
    100%{
        left: -50vw;
    }
}


.moveEnemy{
    animation: moveEnemy 5s linear infinite;
}
@keyframes moveEnemy{
    0%{
        left: 100%;
    }
    100%{
        left: -10%;
    }
}


